.main_profilePage {
  background-image: url("../../../public/assets/main_loggedIn_background.png");
  height: 100%;
  width: 100%;
  background-size: contain;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.avatar {
  max-width: 30em;
}

.profile_info_container {
  display: flex;
  gap: 10em;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 6em 30em;
  max-width: 100%;
}

.profile_info {
  max-width: 40em;
}

.info_block {
  display: flex;
  align-items: center;
  gap: 1em;
}

.info_block,
.info_block p {
  font-size: 3.5rem;
  font-weight: bold;
}

.info_block_text {
  max-width: 16ch;
  text-align: middle;
}

.myVenues_header,
.myBookings_header {
  text-transform: uppercase;
  font-size: 4rem;
}

.myVenues_compontent,
.myBookings_compontent {
  background-color: var(--white);
  max-width: 85vw;
  margin: 2em auto;
  padding: 2em 6em 10em 6em;
  max-height: 100%;
}

.myVenues_container,
.myBookings_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem;
}

.profilePageHeader {
  font-size: 10rem;
  padding: 1rem 0 3rem 0;
}

@media (max-width: 475px) {
  .avatar {
    max-width: 20em;
  }

  div .info_block p {
    font-size: 1rem;
  }

  .profilePageHeader {
    font-size: 0.5rem;
  }
}

@media (max-width: 640px) {
  .info_block {
    flex-direction: column;
  }

  .myVenues_compontent,
  .myBookings_compontent {
    max-width: 15em;
  }
}

@media (max-width: 768px) {
  .profilePageHeader {
    font-size: 5rem;
  }

  .myVenues_container,
  .myBookings_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 780px), (orientation: landscape) {
}

@media (max-width: 970px) {
  .myBookings_header,
  .myVenues_header {
    font-size: 2rem;
    text-align: center;
  }

  .myVenues_compontent,
  .myBookings_compontent {
    max-width: 10em;
  }

  div .info_block p {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .profile_info_container {
    padding: 0;
  }

  .myVenues_container,
  .myBookings_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1350px) {
  .myVenues_container,
  .myBookings_container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  .profile_info_container {
    flex-direction: column;
  }
}

@media (max-width: 1980px) {
  .info_block,
  .info_block p {
    font-size: 3rem;
  }

  .profile_info_container {
    padding-top: 5rem;
    justify-content: center;
  }
}
