.main-loggedIn,
.main-loggedOut {
  min-height: 100vh;
  max-width: 100%;
  flex-grow: 1;
  background-size: contain;
  display: flex;
  flex-direction: column;
}

.main-loggedIn {
  background-image: url("../../../public/assets/main_loggedIn_background.png");
}

.main-loggedOut {
  background-image: url("../../../public/assets/backgroundHome.png");
}

@media (max-width: 475px) {
}

@media (max-width: 640px) {
}

@media (max-width: 768px), (orientation: landscape) {
}

@media (max-width: 1024px) {
  /* .main-loggedIn,
  .main-loggedOut {
    padding-bottom: 20rem;
  } */
}

@media (max-width: 1280px) {
  /* .main-loggedIn,
  .main-loggedOut {
    padding-bottom: 27rem;
  } */
}

@media (min-width: 1536px) {
}

/*
@media (max-width: 1400px), (orientation: landscape) {
  .buttons {
    margin: 2rem;
    gap: 4rem;
    align-items: center;
  }

  h1 {
    margin-top: 2rem;
    font-size: 4rem;
  }

  .buttons {
    margin: 0.5rem;
  }

  .button_green,
  .button_purple {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px), (orientation: portrait) {
  .buttons {
    flex-direction: column;
  }

  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 700px), (orientation: landscape) {
  h1 {
    font-size: 4rem;
  }
}
*/
