#avatar {
  width: 60ch;
}

input {
  display: flex;
  justify-content: left;
}

label {
  font-weight: bold;
  font-size: min(1rem, 1vw + 1rem);
}

.label-icon {
  color: var(--purple);
  font-size: 2rem;
}

.input-div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.label-div {
  display: inherit;
  gap: 1.5rem;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login_form_submit,
.register_form_submit {
  font-size: 2rem;
  margin: 2rem auto 0 auto;
}

form .button_green {
  font-size: 2rem;
}

.input_error {
  display: block;
  visibility: hidden;
  color: var(--invalid);
}

.input_required:not(:focus):invalid {
  border: 2px solid var(--invalid);
}

.input_required:not(:focus):invalid ~ .input_error {
  visibility: visible;
}

@media (max-height: 768px) {
  .label-div {
    flex-direction: column;
  }

  .input-div {
    flex-direction: column;
  }

  input {
    max-width: 75%;
    margin: 0 2rem;
  }

  .form {
    display: flex;
    gap: 3rem;
  }
}
