footer img {
  max-width: 100px;
  vertical-align: middle;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  align-items: center;
}

p {
  font-size: 1rem;
}

@media (max-width: 990px) {
  footer {
    flex-direction: column;
    gap: 3rem;
  }
}
