:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  text-align: center;
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --pink: rgb(255, 143, 199);
  --pink_overlay: rgba(255, 143, 199, 0.706);
  --purple: rgb(167, 107, 245)
  --green: rgb(117, 245, 145);
  --invalid: rgb(255, 0, 0);
  --valid: rgb(1, 172, 1);
}

html {
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  display: flex;
  max-width: 100%;
  min-height: 100vh;
  flex-direction: column;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--purple);
}

h1 {
  margin-top: 3rem;
  font-size: max(3rem, 8vw + 1rem, 4.5rem);
  color: var(--black);
  background-color: var(--white);
}

/* @media (max-width: 1366px) {
  h1 {
    font-size: 4rem;
  }
} */
