:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  text-align: center;
  --white: #fff;
  --black: #000;
  --pink: #ff8ec7;
  --pink_overlay: #ff8ec7b4;
  --purple: #a66af5;
  --green: #75f491;
}

html {
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  flex-direction: column;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--purple);
}

h1 {
  margin-top: 3rem;
  font-size: max(3rem, 8vw + 1rem, 4.5rem);
  color: var(--black);
  background-color: var(--white);
}

/* @media (max-width: 1366px) {
  h1 {
    font-size: 4rem;
  }
} */
