body.active-modal {
  overflow-y: hidden;
}

.modal-wrapper {
  background-color: var(--white);
}

h1 {
  font-size: 2rem;
}

.overlay {
  max-width: 100%;
  max-height: 100%;
}

.modal_login,
.modal_register,
.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal_login,
.modal-content_register {
  position: absolute;
  margin: 12rem auto;
  max-height: 100%;
}

.modal_register {
  top: 28%;
}

.overlay {
  background: var(--pink_overlay);
}

.modal-content_login,
.modal-content_register {
  position: absolute;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 0 2rem 4rem 3rem;
  border-radius: 3px;
  border: 20px var(--purple);
  max-height: 100%;
}

.modal-content_login {
  margin-top: 250px;
  top: 10%;
  left: 50%;
}

.modal-content_register {
  margin-top: 150px;
  top: 10%;
  left: 50%;
}

.h1_modal_title {
  font-size: min(2rem, 2vw + 1, 5rem);
}

@media (max-width: 768px), (orientation: portrait) {
  .h1_modal_title {
    font-size: min(2rem, 2vw + 1, 5rem);
  }

  input {
    font-size: min(2rem, 2vw + 1, 5rem);
  }
}

@media (max-width: 475px), (orientation: portrait) {
  .modal_login {
    top: -25%;
    min-height: 100%;
    padding-bottom: 0;
  }

  .modal-content_register {
    margin-top: 700px;
    padding-bottom: 60rem;
    overflow-y: auto;
  }
}

@media (max-width: 1024px), (orientation: portrait) {
  .modal-content_register {
    max-height: 100%;
  }

  .modal_login {
    top: 0;
  }

  .modal_register {
    top: -10%;
  }
}
