@import "../../App.css";

body.active-modal {
  overflow-y: hidden;
}

.modal-wrapper {
  background-color: var(--white);
}

h1 {
  font-size: 2rem;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal {
  max-height: 100vh;
  overflow-y: auto;
}

.overlay {
  background: var(--pink_overlay);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 0 3rem 4rem 3rem;
  border-radius: 3px;
  border: 20px var(--purple);
  max-width: 600px;
  min-width: 300px;
}

.h1_modal_title {
  font-size: 4rem;
}

@media (max-width: 667px), (orientation: landscape) {
  .modal-content {
    top: 75%;
  }
}

@media (max-width: 380px), (orientation: landscape) {
  .modal-content {
    top: 55%;
  }
}
